@import "reset";
@import "variables";
@import "components/header.scss";

* {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  background: var(--bg);
  height: 100%;
  padding: 20px 20px;
}

.container {
  max-width: 1590px;
  width: 100%;
  margin: 0 auto;
}

.button {
  height: 56px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
