@charset "UTF-8";
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*:where(:not(html,
iframe,
canvas,
img,
svg,
video,
audio,
input[type=checkbox],
#text-editor *,
.model-details_description *,
.shortpost_text *,
.blog_description *):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

button {
  cursor: pointer;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
  user-select: auto;
  line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

html,
body {
  height: 100%;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

:root {
  --grey-1: #f9f9fa;
  --grey-2: #eceef0;
  --grey-3: #dee1e5;
  --grey-4: #cfd3da;
  --grey-5: #bfc4cd;
  --grey-6: #adb3bf;
  --grey-7: #98a0af;
  --grey-8: #808a9a;
  --grey-9: #7e8184;
  --grey-10: #54576d;
  --primary: #f7faff;
  --primary-2: #f2f7ff;
  --primary-3: #d1e2fd;
  --primary-4: #bcd4fb;
  --primary-5: #a5c5fa;
  --primary-6: #8ab4f9;
  --primary-7: #6aa0f7;
  --primary-8: #4287f5;
  --primary-9: #1b70f1;
  --primary-9-alpha: #1b71f11f;
  --primary-10: #1151b6;
  --success: #06b470;
  --success-light: #f1fcd3;
  --error: #f74e2c;
  --error-light: #ffe8d5;
  --extra: #ffba3a;
  --extra-light: #fff6d7;
  --bg: #141618;
  --dark-blue: #1e1f25;
}

.header {
  background: var(--dark-blue);
  height: 120px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header {
    height: 78px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  padding-right: 40px;
  height: fit-content;
  border-right: 1px solid var(--grey-6);
}
@media screen and (max-width: 1024px) {
  .header__logo {
    gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    padding-right: unset;
    border: unset;
  }
  .header__logo img {
    width: 91px;
    object-fit: cover;
    height: 15px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 3vw;
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--grey-6);
  cursor: pointer;
}
.header__nav-item span {
  font-weight: 500;
  color: currentColor;
}
@media screen and (max-width: 1024px) {
  .header__nav-item span {
    font-size: 16px;
  }
}
.header__menuIcon {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__menuIcon {
    display: block;
    margin-top: 6px;
  }
}
.header__end {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .header__logIn {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .header__logIn {
    height: unset !important;
  }
}

.market {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media screen and (max-width: 768px) {
  .market {
    gap: 40px;
  }
}
.market__head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.market__head h2 {
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .market__head {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.market__coins {
  display: flex;
  justify-content: space-between;
  gap: 13px;
  width: 100%;
  overflow-x: auto;
}
.market__coin {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
  min-width: 240px;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--dark-blue);
}
@media screen and (max-width: 768px) {
  .market__coin {
    padding: 20px 0;
    background: var(--dark-blue);
  }
}
.market__coin * {
  font-weight: 500;
  white-space: nowrap;
}
.market__coin-name {
  font-size: 20px;
}
.market__coin-stat {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--error);
}
.market__coin-stat--top {
  color: var(--success);
}
.market__coin-value {
  font-size: 24px;
  font-weight: 600;
}
.market__button {
  background: var(--primary-9);
  width: 240px;
}
@media screen and (max-width: 375px) {
  .market__button {
    width: 100%;
  }
}
.market__separator {
  width: 100%;
  background: var(--dark-blue);
  height: 1px;
}
.market__tabs {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  width: 100%;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .market__tabs {
    justify-content: center;
  }
}
.market__tabs-item {
  line-height: 32px;
  color: var(--grey-6);
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}

.footer {
  position: relative;
  display: block;
  width: 100%;
  padding: 120px 0 40px 0;
  background: var(--dark-blue);
}
@media (max-width: 768px) {
  .footer {
    padding: 40px 0;
  }
}
.footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../../assets/img/bg-noise.png");
  background-position: center;
  background-size: cover;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer__logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__logo {
    justify-content: unset;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.footer__logo > img {
  width: 192px;
  height: 19px;
}
.footer__community {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .footer__community {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__community > span {
  font-size: 20px;
  line-height: 32px;
  color: var(--grey-1);
}
.footer__links {
  display: flex;
  gap: 30px;
}
@media (max-width: 768px) {
  .footer__links {
    flex-wrap: wrap;
    text-align: center;
  }
}
.footer__links-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__links-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: var(--grey-1);
}
.footer__links-link {
  color: var(--grey-6);
  font-size: 16px;
  line-height: 24px;
}
.footer__links-link > span {
  padding: 4px 8px;
  border-radius: 2px;
  background: var(--primary-9-alpha);
  color: var(--primary-9);
  font-size: 14px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__bottom {
    justify-content: unset;
    flex-direction: column;
    gap: 20px;
  }
}
.footer__bottom-copyright {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__bottom-copyright {
    flex-wrap: wrap;
    text-align: center;
  }
}
.footer__bottom-copyright > span {
  font-size: 16px;
  color: var(--grey-1);
}
.footer__bottom-copyright > i {
  display: block;
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.4;
}
.footer__bottom-langs {
  display: flex;
  gap: 30px;
}
@media (max-width: 768px) {
  .footer__bottom-langs {
    flex-direction: column;
  }
}
.footer__bottom-input {
  padding: 6px 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1450980392);
  border-radius: 4px;
}
@media (max-width: 768px) {
  .footer__bottom-input {
    width: 100%;
    justify-content: space-between;
  }
}
.footer__bottom-input > span {
  font-size: 16px;
  color: var(--grey-1);
}
.footer__bottom-input > img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

.banner {
  height: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 165px;
  position: relative;
}
@media (max-width: 768px) {
  .banner {
    gap: 40px;
  }
}
.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../../assets/img/banner_bg-noise.png");
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.banner__content {
  display: flex;
  position: relative;
}
@media screen and (max-width: 768px) {
  .banner__content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.banner__content img {
  position: absolute;
  right: 0;
  top: 0;
  width: 752px;
  aspect-ratio: 1;
  object-fit: cover;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .banner__content img {
    position: unset;
    width: 100%;
  }
}
.banner__content-text {
  max-width: 981px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .banner__content-text {
    align-items: center;
  }
}
.banner__content-buttons {
  margin-top: 112px;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .banner__content-buttons {
    margin-top: 20px;
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .banner__content-buttons {
    width: 100%;
  }
  .banner__content-buttons button {
    width: 100%;
  }
}
.banner__content-tag {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: var(--primary-9);
}
@media screen and (max-width: 768px) {
  .banner__content-tag {
    font-size: 20px;
  }
}
.banner__content-tag::before {
  content: "";
  position: relative;
  display: block;
  width: 40px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--primary-9);
}
@media screen and (max-width: 768px) {
  .banner__content-tag::before {
    width: 20px;
  }
}
.banner__content-title {
  font-size: 86px;
  font-weight: 700;
  line-height: 120.67px;
  letter-spacing: -1.5px;
}
@media screen and (max-width: 768px) {
  .banner__content-title {
    text-align: center;
    font-size: 42px;
    line-height: unset;
  }
}
.banner__content-desc {
  margin-top: 10px;
  font-size: 20px;
  line-height: 32px;
  color: var(--grey-6);
}
@media screen and (max-width: 768px) {
  .banner__content-desc {
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .banner__content-desc {
    font-size: 18px;
  }
}
.banner__content-line {
  margin: 0 216px 0 149px;
  width: 50%;
  height: 2px;
  background: linear-gradient(to right, transparent 50%, #141618 50%), linear-gradient(0.25turn, rgba(154, 195, 33, 0) 0%, rgba(154, 195, 33, 0.8) 50%, rgba(154, 195, 33, 0) 100%);
  background-size: 16px 2px, 100% 2px;
  transform: translateX(80px);
}
@media screen and (max-width: 768px) {
  .banner__content-line {
    margin: 0 auto;
    transform: unset;
  }
}
.banner__market {
  display: flex;
  align-items: center;
  overflow-x: auto;
  z-index: 1;
}
@media screen and (max-width: 375px) {
  .banner__market {
    display: none;
  }
}
.banner__market * {
  white-space: nowrap;
}
.banner__market-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
.banner__market-item:not(:first-child) {
  padding-left: 20px;
}
.banner__market-heading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-6);
}
.banner__market-heading > span {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--success);
}

.questions {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.questions::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../../assets/img/questions-bg-noise.png");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .questions {
    gap: 40px;
  }
}
.questions__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .questions__top {
    gap: 20px;
  }
}
.questions__subtitle {
  color: var(--grey-6);
  word-break: break-word;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .questions__subtitle {
    font-size: 16px;
  }
}
.questions__accordions {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .questions__accordions {
    flex-direction: column;
    gap: 20px;
  }
}
.questions .accordion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 1;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .questions .accordion {
    gap: 20px;
  }
}
.questions .accordion-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  position: relative;
}
.questions .accordion-header {
  cursor: pointer;
  padding: 20px;
  font-weight: 600;
}
.questions .accordion-header span {
  display: flex;
  font-size: 21px;
  font-weight: 600;
  padding-right: 24px;
  word-break: break-word;
}
@media screen and (max-width: 1024px) {
  .questions .accordion-header span {
    font-size: 18px;
  }
}
.questions .accordion-button {
  position: absolute;
  top: 15px;
  right: 15px;
  transform: rotate(44deg);
  transition: 0.3s ease-out;
}
.questions .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: min-height 0.3s ease-out, padding 0.3s ease-out;
  color: var(--grey-6);
}
.questions .accordion-open .accordion-button {
  transform: unset;
}
.questions .accordion-open .accordion-content {
  padding: 0 20px 20px 20px;
}

.reviews {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  background: var(--dark-blue);
}
.reviews::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../../assets/img/bg-noise.png");
  background-position: center;
  background-size: cover;
}
.reviews__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}
.reviews__text {
  display: flex;
  align-items: center;
  gap: 120px;
}
@media (max-width: 768px) {
  .reviews__text {
    flex-direction: column;
    gap: 70px;
  }
}
.reviews__text-title {
  font-size: 58px;
  font-weight: 700;
  line-height: 72px;
  color: var(--white);
}
.reviews__text-desc {
  font-size: 18px;
  line-height: 28px;
  color: var(--grey-6);
}
.reviews__card {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: #272a34;
  border-radius: 10px;
}
.reviews__card-user {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .reviews__card-user {
    flex-direction: column;
    text-align: center;
  }
}
.reviews__card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.reviews__card-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
.reviews__card-location {
  font-size: 14px;
  line-height: 20px;
}
.reviews__card-desc {
  font-size: 24px;
  line-height: 36px;
}
@media (max-width: 768px) {
  .reviews__card-desc {
    font-size: 18px;
    text-align: center;
  }
}
.reviews__card-icon {
  display: block;
}
@media (max-width: 768px) {
  .reviews__card-icon {
    display: none;
  }
}
.reviews__slider {
  position: relative;
}
.reviews__slider-pagination {
  bottom: -50px !important;
}
.reviews__slider-pagination > .swiper-pagination-bullet {
  width: 40px;
  height: 4px;
  background: white;
  opacity: 0.2;
  border-radius: 0;
}
.reviews__slider-pagination > .swiper-pagination-bullet-active {
  width: 40px;
  height: 4px;
  background: var(--grey-4);
  opacity: 1;
  border-radius: 0;
}

* {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 120px;
  background: var(--bg);
}
@media (max-width: 1024px) {
  .page-container {
    padding: 20px 20px;
  }
}

.container, .header__content, .market, .footer__container, .banner, .questions, .reviews__container {
  max-width: 1610px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 375px) {
  .container, .header__content, .market, .footer__container, .banner, .questions, .reviews__container {
    padding: 0 16px;
  }
}

.button, .modal__form button, .button--transparent, .header__logIn, .market__button {
  height: 56px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button--arrow::after, .market__button::after {
  position: relative;
  content: url("/assets/icons/ButtonArrow.svg");
  top: 2px;
}

.button--transparent {
  background: transparent;
  width: 240px;
  border: 1px solid white;
}
@media screen and (max-width: 375px) {
  .button--transparent {
    background: white;
    color: var(--primary-9);
  }
}

h2 {
  font-size: 58px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 42px;
  }
}

.market__tabs-item--active {
  pointer-events: none;
  color: var(--grey-3);
}

.market__coins:not(.market__coins-show) {
  display: none;
}

hr {
  width: 100%;
  height: 1px;
  background: linear-gradient(0.25turn, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
}

.modal {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  left: 0px;
  top: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 999;
}
.modal__inner {
  padding: 0 15px;
  max-width: 580px;
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (max-width: 375px) {
  .modal__inner {
    width: 100dvw;
  }
}
.modal__content {
  background: var(--bg);
  border: 1px solid var(--grey-6);
  border-radius: 6px;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
@media (max-width: 768px) {
  .modal__content {
    padding: 50px 20px;
  }
}
.modal__actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
}
.modal__actions span {
  font-size: 16px;
  font-weight: 600;
}
.modal__register {
  margin-top: 10px;
  color: var(--grey-6);
  font-size: 16px;
}
@media (max-width: 768px) {
  .modal__register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
.modal__register span {
  font-size: 16px;
  font-weight: 600;
}
.modal__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
}
.modal__form button {
  background: var(--primary-9);
  margin-top: 10px;
  width: 100%;
}
.modal__input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  position: relative;
}
.modal__input label,
.modal__input input {
  font-size: 16px;
}
.modal__input label {
  color: var(--grey-4);
  padding-left: 14px;
}
.modal__input input {
  padding: 14px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 4px;
}
.modal__input input::placeholder {
  color: var(--grey-6);
}
.modal__input-show {
  position: absolute;
  top: 44px;
  right: 14px;
  cursor: pointer;
}
.modal__title {
  font-size: 36px;
  font-weight: 600;
}

.vertical {
  all: unset;
  display: block;
  margin: 0 20px;
  height: 40px;
  width: 1px;
  background: white;
  opacity: 0.2;
}