@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --grey-1: #f9f9fa;
  --grey-2: #eceef0;
  --grey-3: #dee1e5;
  --grey-4: #cfd3da;
  --grey-5: #bfc4cd;
  --grey-6: #adb3bf;
  --grey-7: #98a0af;
  --grey-8: #808a9a;
  --grey-9: #7e8184;
  --grey-10: #54576d;
  --primary: #f7faff;
  --primary-2: #f2f7ff;
  --primary-3: #d1e2fd;
  --primary-4: #bcd4fb;
  --primary-5: #a5c5fa;
  --primary-6: #8ab4f9;
  --primary-7: #6aa0f7;
  --primary-8: #4287f5;
  --primary-9: #1b70f1;
  --primary-9-alpha: #1b71f11f;
  --primary-10: #1151b6;
  --success: #06b470;
  --success-light: #f1fcd3;
  --error: #f74e2c;
  --error-light: #ffe8d5;
  --extra: #ffba3a;
  --extra-light: #fff6d7;
  --bg: #141618;
  --dark-blue: #1e1f25;
}