.banner {
  @extend .container;

  height: 100%;

  padding: 30px 0;

  display: flex;
  flex-direction: column;
  gap: 165px;
  position: relative;

  @media (max-width: $medium) {
    gap: 40px;
  }

  &::before {
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-image: url("../../../assets/img/banner_bg-noise.png");
    background-position: center;
    background-size: cover;
    z-index: 0;
  }

  &__content {
    display: flex;
    position: relative;

    @media screen and (max-width: $medium) {
      flex-direction: column-reverse;
      align-items: center;
    }

    img {
      position: absolute;
      right: 0;
      top: 0;
      width: 752px;
      aspect-ratio: 1;
      object-fit: cover;
      z-index: 0;
      @media screen and (max-width: $medium) {
        position: unset;
        width: 100%;
      }
    }

    &-text {
      max-width: 981px;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 1;
      @media screen and (max-width: $medium) {
        align-items: center;
      }
    }

    &-buttons {
      margin-top: 112px;

      display: flex;
      gap: 30px;
      @media screen and (max-width: $medium) {
        margin-top: 20px;
        flex-direction: column;
      }
      @media screen and (max-width: $small) {
        width: 100%;
        button {
          width: 100%;
        }
      }
    }

    &-tag {
      display: flex;
      align-items: center;
      gap: 10px;

      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      color: var(--primary-9);

      @media screen and (max-width: $medium) {
        font-size: 20px;
      }

      &::before {
        content: "";

        position: relative;

        display: block;

        width: 40px;
        height: 2px;

        border-radius: 2px;

        background-color: var(--primary-9);

        @media screen and (max-width: $medium) {
          width: 20px;
        }
      }
    }

    &-title {
      font-size: 86px;
      font-weight: 700;
      line-height: 120.67px;
      letter-spacing: -1.5px;
      @media screen and (max-width: $medium) {
        text-align: center;
        font-size: 42px;
        line-height: unset;
      }
    }

    &-desc {
      margin-top: 10px;

      font-size: 20px;
      line-height: 32px;
      color: var(--grey-6);
      @media screen and (max-width: $medium) {
        text-align: center;
      }
      @media screen and (max-width: $small) {
        font-size: 18px;
      }
    }

    &-line {
      margin: 0 216px 0 149px;
      width: 50%;
      height: 2px;

      background: linear-gradient(to right, transparent 50%, #141618 50%),
        linear-gradient(
          0.25turn,
          rgba(154, 195, 33, 0) 0%,
          rgba(154, 195, 33, 0.8) 50%,
          rgba(154, 195, 33, 0) 100%
        );
      background-size: 16px 2px, 100% 2px;

      transform: translateX(80px);
      @media screen and (max-width: $medium) {
        margin: 0 auto;
        transform: unset;
      }
    }
  }

  &__market {
    display: flex;
    align-items: center;
    overflow-x: auto;
    z-index: 1;

    @media screen and (max-width: $small) {
      display: none;
    }

    * {
      white-space: nowrap;
    }
    &-item {
      width: 100%;
      &:not(:first-child) {
        padding-left: 20px;
      }

      display: flex;
      flex-direction: column;
      gap: 10px;

      color: white;
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
    }

    &-heading {
      display: flex;
      align-items: center;
      gap: 10px;

      font-size: 16px;
      line-height: 24px;
      color: var(--grey-6);

      & > span {
        display: flex;
        gap: 6px;
        align-items: center;

        font-size: 14px;
        font-weight: 600;
        color: var(--success);
      }
    }
  }
}
