.header {
  background: var(--dark-blue);
  height: 120px;
  display: flex;
  align-items: center;
  &__content {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    padding-right: 40px;
    height: fit-content;
    border-right: 1px solid var(--grey-6);
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    &-item {
      display: flex;
      align-items: center;
      padding: 8px 18px;
      gap: 12px;
      color: var(--grey-6);
      cursor: pointer;
      span {
        font-weight: 500;
        color: currentColor;
      }
    }
  }
  &__logIn {
    @extend .button;
  }
}
