.questions {
  @extend .container;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &__subtitle {
    color: var(--grey-6);
  }
  &__accordions {
    display: flex;
    gap: 30px;
    align-items: flex-start;
  }
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 1;
    width: 100%;
    &-item {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 4px;
      position: relative;
    }
    &-header {
      cursor: pointer;
      padding: 20px;
      font-weight: 600;
      span {
        font-size: 21px;
        font-weight: 600;
        padding-right: 24px;
      }
    }
    &-button {
      position: absolute;
      top: 15px;
      right: 15px;
      transform: rotate(44deg);
      transition: 0.3s ease-out;
    }
    &-content {
      max-height: 0;
      overflow: hidden;
      transition: min-height 0.3s ease-out, padding 0.3s ease-out;
      color: var(--grey-6);
    }
    &-open {
      .accordion-button {
        transform: unset;
      }
      .accordion-content {
        padding: 0 20px 20px 20px;
      }
    }
  }
}
